<div class="main-container">
  <div class="left-side">
    <h5><a href="">Personal Details</a></h5>
    <h5><a href="">My Orders</a></h5>
    <h5><a href="">Logout</a></h5>
  </div>
  <div class="right-side"></div>
</div>
